a:hover {
    color: red;
}

a {
    text-align: left;
    text-shadow: none;
}

.fib {
    background: lightseagreen;
    display: inline-block;
    position: static;
}
.pell {
    background: lightsalmon;
    display: inline-block;
    position: static;
}

.trib {
    background: lightpink;
    display: inline-block;
    position: static;
}

#fib {

}

#pell {

}

#trib {

}

.shadowed {
    text-shadow: 1px 1px 2px black;
    color: white;
}

.stuff-box {
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
    padding: 3px 10px;
    margin: 10px;
    cursor: pointer;
    border-color: rgb(23, 0, 237);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

.fib div {
    background: rgba(23, 0, 237, .15);
    mix-blend-mode: hard-light;
    display: inline-block;
    margin: 0px 2px 0px 2px;
}

.pell div {
    background: rgba(23, 100, 0, .15);
    mix-blend-mode: hard-light;
    display: inline-block;
    margin: 0px 2px 0px 2px;
}

.trib div {
    background: rgba(243, 0, 200, .15);
    mix-blend-mode: hard-light;
    display: inline-block;
    margin: 0px 2px 0px 2px;
}


.fib-left {
    float: left;
    display: inline-table;
    border-radius: 20px 0px 20px 20px;

}

.fib-right {
    float: right;
    display: inline-table;
    border-radius: 0px 20px 20px 20px;

}

.fib-middle {
    border-radius: 0px 0px 20px 20px;
}