<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>(placeholder)</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
<form>
   <input type="range" min="0" max="11" value="0" onchange="fibSlider(this)">
   <button type="button" onclick="fibButton(this)">fib(0)</button>
</form>
<form>
   <input type="range" min="0" max="11" value="0" onchange="pellSlider(this)">
   <button type="button" onclick="pellButton(this)">pell(0)</button>
</form>
<form>
   <input type="range" min="0" max="11" value="0" onchange="tribSlider(this)">
   <button type="button" onclick="tribButton(this)">trib(0)</button>
</form>
<script src="scratchpad.js" type="text/javascript"></script>
</body>
</html>