{% load staticfiles %}
<title>(placeholder)</title>
<link rel="stylesheet" type="text/css" href="{% static 'final/style.css' %}" />


{% if table_item %}
    <table>
        <tr>
            <!--row one-->
            <th>Command</th>
            <th>Description</th>
            <th>Example</th>
        </tr>
            {% for item in table_item %}
        <tr>
            <td><a href="{{ item.link_ref }}">{{ item.command_name }}</a> {{ item.command_opt }} </td>
            <td>{{ item.description }}</td>
            <td>
                <pre>
{{ item.example }}
                </pre>
            </td>
        </tr>
{% endfor %}

    </table>
    {% else %}
    <p>No info</p>
    {% endif %}

<script src="{% static 'final/stuff.js' %}" type="text/javascript"></script>